@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
#container
{   
    background-color:#f4faff;
    text-align:center;
    margin:auto;
    /* width:100vw; */
    /* height:100vh; */
    display:flex;
}

#side-bar
{
    font-family: 'Roboto', sans-serif;
    background-color: #2C5F2D;
    padding-right: .5vw;
    margin-right:0.5vw;
    
    
}


#main{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    flex-grow:2;
}

li{
    padding-bottom: 10vh;
    list-style-type: none;  
    text-decoration: none;  
    font-family: 'Open Sans', sans-serif;
}


li >a{
    padding-bottom: 10vh;
    list-style-type: none;  
    text-decoration: none;  
    font-size: 25px;
    color: white;  
}

h2{
    text-align: center;
}

img{
    max-width:100%;
    height: auto;
}

.thumbnails{
    max-width:50%;
    height:auto;
}

#footer{
    position: relative;
    margin-top:1vh;
    padding-top:1.5vh;
    text-align: center;
    vertical-align:middle;
    font-size: 20px;
    font-weight:bold;
    background-color: #2C5F2D;
    color: white;
    /* width: 100vw; */
}

@media(max-width: 800px)
{   
    *{
        margin:0;
        padding:0;
    }

    #container{
        flex-direction: column;
        width:100vw;
    }

   

    li{
        font-size: 15px;
        text-align:center;
        vertical-align: middle;
    }

    .middle-link{
        border-top: solid;
        border-bottom: solid;
        border-color: #f4faff;
        border-width:3px;
    }

}