@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
#container
{   
    background-color:#f4faff;
    text-align:center;
    margin:auto;
    /* width:100vw; */
    /* height:100vh; */
    display:flex;
}

#side-bar
{
    font-family: 'Roboto', sans-serif;
    background-color: #2C5F2D;
    padding-right: .5vw;
    margin-right:0.5vw;
    
    
}


#main{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    flex-grow:2;
}

li{
    padding-bottom: 10vh;
    list-style-type: none;  
    text-decoration: none;  
    font-family: 'Open Sans', sans-serif;
}


li >a{
    padding-bottom: 10vh;
    list-style-type: none;  
    text-decoration: none;  
    font-size: 25px;
    color: white;  
}

h2{
    text-align: center;
}

img{
    max-width:100%;
    height: auto;
}

.thumbnails{
    max-width:50%;
    height:auto;
}





/* Stuff for the item class */
.item{
    margin-bottom: 5vh;
}

#footer{
    position: relative;
    margin-top:1vh;
    padding-top:1.5vh;
    text-align: center;
    vertical-align:middle;
    font-size: 20px;
    font-weight:bold;
    background-color: #2C5F2D;
    color: white;
    /* width: 100vw; */
}

@media(max-width: 800px)
{   
    *{
        margin:0;
        padding:0;
    }

    #container{
        flex-direction: column;
        width:100vw;
    }

   

    li{
        font-size: 15px;
        text-align:center;
        vertical-align: middle;
    }

    .middle-link{
        border-top: solid;
        border-bottom: solid;
        border-color: #f4faff;
        border-width:3px;
    }

}

/* Copied Code for popup */
.popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
  }
  
  .popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width:70vw;
    height:70vh;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
  }
  
  .popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
  }
  
  .popup.active .overlay {
    display:block;
  }
  
  .popup.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
  }
  
  button {
    /* position:absolute; */
    /* top:50%;
    left:50%; */
    /* transform:translate(-50%,-50%); */
    margin-top: 5vh;
    padding:15px;
    font-size:18px;
    border:2px solid #f4faff;
    color:#f4faff;
    text-transform:uppercase;
    font-weight:600;
    background:#2C5F2D;
  }


  /* Css for credit card stuff */
  /* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}